
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -fx-background-color: white;
}

.input{
    -fx-padding:10px;
    -fx-pref-width: 300px;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

.label-input-size{
    -fx-font-size: 16;
}
.button{
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}

.button:hover{
    -fx-background-color: #4285F4;
}